<form [noValidate]="false" (submit)="this.onSubmit($event, username.value, password.value)">
    <section class="vh-100">
        <div class="container py-5 h-100 center">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
    
                <div class="mb-md-5 mt-md-4 pb-0">
    
                    <h2 class="fw-bold mb-2 text-uppercase">Zaloguj</h2>
                    <p class="text-white-50 mb-5">Wpisz swój email oraz hasło!</p>
    
                    <div class="form-outline form-white mb-4">
                    <input type="email" id="typeEmailX" class="ps-3 pe-3 form-control form-control-lg" required #username/>
                    <label class="form-label" for="typeEmailX">Email</label>
                    </div>
    
                    <div class="form-outline form-white mb-4">
                    <input type="password" id="typePasswordX" class="ps-3 pe-3 form-control form-control-lg" required #password />
                    <label class="form-label" for="typePasswordX">Hasło</label>
                    </div>
    
    
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Zaloguj</button>

                    <div class="forgotPassword mt-4">
                        <a class="text-white-50 fw-bold" routerLink="/forgot-password">Forgot Password?</a>
                    </div>
    
                </div>
    
                <div>
                    <p class="mb-0">Nie masz konta? <a routerLink="/register" class="text-white-50 fw-bold">Zarejestruj</a>
                    </p>
                </div>
    
                </div>
            </div>
            </div>
        </div>
        </div>
  </section>
</form>