@import '../../../styles'
    
.rating-list 
    background-color: transparent!important
    li 
        font-size: 4rem
        float: right
        color: #ddd
        padding: 10px 5px
        &:hover 
            color: #ffd700
            cursor: pointer
            ~ 
                li 
                    color: #ffd700
                
    li.selected 
        color: #ffd700
    
    display: inline-block
    list-style: none

.info_number
    background-color: $bg-primary
    padding: 1rem
    border-radius: 15px

@media screen and (max-width: 600px) 
    .rating-list 
        li 
            font-size: 2.5rem