<div class="container text-center mt-4 {{ !(this.current_number_of_dishes > 1) ? 'closed' : ''}}">
    <div class="flex_center_row filter_dishes" (click)="handleExtendingFilteringParameters()">
      <h2 class="pt-1 pb-1" >Filtruj dania</h2>
      <img class="mb-3 ms-4" src="../../../assets/bx-filter-alt.svg" alt="Filter icon" />
    </div>
    <div class="row mb-3 {{ !this.is_extended_filter_section ? 'closed' : '' }}" [style]="this.is_extended_filter_section ? 'height: 80vh' : ''">
        <div class="card">
            <div class="card-body flex_center_col">
              <app-checkboxes-filtering [data]="this.cuisine_types" [category]="'Typ kuchni'" (checked_changed)="handleCheckboxesCuisineType($event)"></app-checkboxes-filtering>
              <app-checkboxes-filtering [data]="this.dish_categories" [category]="'Kategoria posiłku'" (checked_changed)="handleCheckBoxesDishCategory($event)"></app-checkboxes-filtering>
              <div class="filter_type flex_center_col">
                <h3>Zakres cenowy</h3>
                <div class="range_values flex_center_row">
                  <div class="range_value">
                    <h3>Min: </h3>
                    <h3>{{value_min}} PLN</h3>
                  </div>
                  <div class="range_value">
                    <h3>Max: </h3>
                    <h3>{{value_max}} PLN</h3>
                  </div>
                </div>
                <mat-slider min="{{this.min_dish_price}}" max="{{this.max_dish_price}}" color="primary">
                  <input value="{{this.min_dish_price}}" matSliderStartThumb [(ngModel)]="value_min" (change)="handleMinPriceDish()">
                  <input value="{{this.max_dish_price}}" matSliderEndThumb [(ngModel)]="value_max" (change)="handleMaxPriceDish()">
                </mat-slider>
              </div>
              <app-checkboxes-filtering [data]="this.rating_stars" [category]="'Ocena dania'" (checked_changed)="handleCheckboxesStars($event)"></app-checkboxes-filtering>
            </div>
          </div>
    </div>
</div>