@import '../../../styles'

.dish_wrapper
    width: 45vw
    max-width: 600px
    min-height: 70vh
    border: 1px solid rgba(0,0,0,0.3)
    border-radius: 15px
    padding: 0.5rem
    box-shadow: 5px 5px 10px rgba(255,255,255,0.4)
    background-color: $card-bg
    position: relative
    margin: 1rem
    overflow: hidden
    margin-top: 2rem

.dish_main_img
    margin-bottom: 1rem
    img 
        width: 200px
        height: 200px
        object-fit: cover

.dish_wrapper h3 
    color: $card-font
    font-weight: bolder
    margin-top: 0.25rem
    margin-bottom: 0.25rem

.dish_wrapper h3:nth-child(2)
    color: black

.flex_center_row 
    h3
        margin-left: 0.5rem
        margin-right: 0.5rem

.extending_list
    margin-top: 0.5rem
    margin-bottom: 0.5rem
    
li 
    font-weight: bolder
    font-size: 1.3rem

.extend_list_btn:hover
    cursor: pointer

.decrease_order_size:hover, .increase_order_size:hover 
    cursor: pointer

.decrease_order_size, .increase_order_size
    height: 4rem
    width: 4rem
    margin: 1rem

@media all and (max-width: 1000px) 
    .dish_wrapper
        width: 40vw


@media all and (max-width: 855px) 
    .dish_wrapper
        width: 65vw


@media all and (max-width: 500px) 
    .dish_wrapper
        width: 90vw
    