<div class="dish_wrapper flex_center_col" [style.border]=" dish_object.price == this.cheapest_dish_price ? '3px solid lightgreen' : ( dish_object.price == this.most_expensive_dish_price ? '3px solid red' : '') ">
    <div class="dish_main_img flex_center_row">
        <a [routerLink]="['/szczegoly-dania', dish_object.id]">
            <img src='{{ (dish_object.imgs_paths.length > 0) ? dish_object.imgs_paths[0] : "../../../assets/no_photo.png" }}' alt="Dish photo" />
        </a>
    </div>
    <div class="flex_center_row">
        <img *ngIf="!this.authorizationService.checkIfUserIsAGuest()" src="../../../assets/bxs-minus-circle.svg" alt="Decrease number of order icon" [style.visibility]="dish_object.available_count > 0 ? 'visible' : 'hidden'"  class="decrease_order_size" (click)="handleRemoveDishFromOrder()"/>

        <img *ngIf="!this.authorizationService.checkIfUserIsAGuest()" src="../../../assets/bxs-plus-circle.svg" alt="Increase number or order icon" class="increase_order_size" [style.visibility]="dish_object.available_count > 0 ? 'visible' : 'hidden'" (click)="handleAddDishToOrder()"/>
    </div>
    <div class="dish_desc flex_center_col">
        <div class="flex_center_row">
            <h3>Nazwa dania:</h3>
            <h3>{{dish_object.name | uppercase}}</h3>
        </div>
        <div class="flex_center_row">
            <h3>Typ kuchni:</h3>
            <h3>{{dish_object.cuisine_type | uppercase}}</h3>
        </div>
        <div class="flex_center_row">
            <h3>Kategoria posiłku:</h3>
            <h3>{{dish_object.category}}</h3>
        </div>
        <div class="flex_center_row">
            <h3 *ngIf="currently_available > 0">Ilość dań dostępnych:</h3>
            <h3 [style.color]="getFontColor()">{{ (currently_available > 0) ? currently_available : 'Danie niedostępne' }}</h3>
        </div>
        <div class="flex_center_row">
            <h3>Cena posiłku:</h3>
            <h3>{{ this.price_transforming_service.getPriceInUSD(dish_object.price) | currency:'USD '}}</h3>
        </div>
        <div class="flex_center_row" >
            <button *ngIf="this.authorizationService.checkIsAuthorizedForRemovingFromDb()" class="button_styled" (click)="removeFromMenu()">Usuń danie z menu</button>
        </div>
    </div>
</div>