<div class="wrapper">

    <div class="card text-center mt-5 ms-5 me-5">
        <div class="card-header">
            <h1>Przeglądnij menu restauracji</h1>
            </div>
            <div class="card-body">
                <p class="card-text fs-5 mt-3 mb-4">Aby zobaczyć wszystkie dania, zmodyfikować lub usunąć wybrane naciśnij przycisk ponizej</p>
                <a routerLink="/potrawy" class="btn btn-danger btn-lg">Zobacz menu <img class="inverted" src="../../../assets/bx-food-menu.svg" alt="Food menu icon" /> </a>
            </div>
            <div class="card-footer text-muted">
        </div>
    </div>

    <div class="card text-center mt-5 ms-5 me-5">
        <div class="card-header">
            <h1>Dodaj nowe danie do restauracji</h1>
            </div>
            <div class="card-body">
                <p class="card-text fs-5 mt-3 mb-4">Aby dodać nowe danie do restauracji naciśnij przycisk ponizej </p>
                <a routerLink="/dodaj-danie" class="btn btn-danger btn-lg">Dodaj danie <img  class="inverted" src="../../../assets/bxs-message-square-add (2).svg" alt="Add dish icon" /> </a>
            </div>
            <div class="card-footer text-muted">
        </div>
    </div>

</div>