<div class="wrapper">
</div>
<div class="card bg-light mb-3 contact_card" style="max-width: 18rem;">
    <div class="card-header h2">Skontaktuj się z nami!</div>
    <div class="card-body">

        <div class="mb-4 mt-3 ms-2 h3 text-left">
            Jesteśmy dostępni dla was codziennie od 11:30 do 18:30
        </div>

        <div class="contact_div flex_start_row">
            <a href="tel:+48123222111">Zadzwoń pod: 123222111</a>
            <img src="../../../assets/bx-phone.svg" alt="Phone icon" />
        </div>
        <div class="contact_div flex_start_row">
            <a href="mailto:dosyta@gmail.com">Napisz do nas maila</a>
            <img src="../../../assets/bx-envelope.svg" alt="Phone icon" />
        </div>
        <div class="contact_div map_link_phone flex_start_row">
            <a target="_blank" href="https://www.google.pl/maps/place/Do+Syta/@50.0665473,19.8507586,12.75z/data=!4m10!1m2!2m1!1sdo+syta!3m6!1s0x47165ba8f8ef35b1:0x5eebf8627b0e0353!8m2!3d50.071317!4d19.924964!15sCgdkbyBzeXRhWgkiB2RvIHN5dGGSAQpyZXN0YXVyYW504AEA!16s%2Fg%2F11c1pcrsr4" >Zobacz nas na mapie</a>
            <img src="../../../assets/bx-map-alt.svg" alt="Phone icon" />
        </div>
        <div class="flex_center_row">
            <div class="circle"><a href=""><img src="../../../assets/bxl-facebook-circle.svg" alt="fb icon"/></a></div>
            <div class="circle"><a href=""><img src="../../../assets/bxl-instagram-alt (1).svg" alt="ig icon"/></a></div>
        </div>
    </div>
  </div>
  <a href="https://www.google.pl/maps/place/Do+Syta/@50.0665473,19.8507586,12.75z/data=!4m10!1m2!2m1!1sdo+syta!3m6!1s0x47165ba8f8ef35b1:0x5eebf8627b0e0353!8m2!3d50.071317!4d19.924964!15sCgdkbyBzeXRhWgkiB2RvIHN5dGGSAQpyZXN0YXVyYW504AEA!16s%2Fg%2F11c1pcrsr4" target="_blank" class="map_img">
    <img src="../../../assets/Zrzut ekranu 2022-12-28 o 03.00.34.png"/>
  </a>
  